@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Merriweather&family=Montserrat&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Merriweather&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

// header styling
header {
    background-color: #61A8BC;
    width: 100%;
    position: fixed;

    nav {

        max-width: 1900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        background: var(--bleu, #61A8BC);
        margin: 1rem 2rem;
        z-index: 100;

        img {
            width: 191px;
            height: 145px;
            flex-shrink: 0;
        }

        ul {
            display: flex;
        }

    }

}

nav {
    li {
        display: inline-block;
        margin-top: 2rem;
        padding: 10px 25px;
        align-items: flex-start;
    }

    a {
        text-decoration: none;
        padding: 2.5rem;
        color: #FFF;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:hover {
            color: #660000;
        }
    }
}

//main styling 
#prestation {
    background-color: #61A8BC;
    display: flex;
    justify-content: space-between;
    padding-top: 190px;

    h1 {
        color: #FFF;
        font-family: Merriweather;
        font-size: 65px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    p {
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 740px;

    }

    button {
        color: #FFF;
        font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: #660000;
        width: 180px;
        height: 50px;
    }

}

.leftC {
    display: flex;
    padding: 0px 0px 50px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
}

#s2 {
    display: flex;
    background: linear-gradient(180deg, #660101 49.99%, rgba(255, 255, 255, 0.00) 50%, #353535 50.01%);
    position: relative;
    justify-content: space-between;
    

    .photoLeft {
       
        img {
           position: relative;
            width: 650px;
            height: 650px;
            
            left: 80px;
            
            bottom: -178px;
        }
    }
    .conRight{
        
        padding: 0px 80px;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        p{
            max-width: 500px;
            align-content: center;
        }
        button{
            position: relative;
            right:0
        }
    }
}
.h2{
    width: 650px;
    height: 100px;
    background-color: white;

}
p{
    font-family: Source Sans Pro;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 740px;
}